/* purple-indigo */
/* :root{
    --primary-color:hsl(286, 87%, 38%);
    --primary-color-light:hsl(281, 63%, 72%);
    --primary-bg-color-light:rgb(243, 235, 255);
    --padding-primary:0.5rem 1rem;
    --card-body-padding:0.5rem 1rem 1rem 1rem;
    --primary-border-radius:5px;
    --card-color:#333;
    --card-background-color:white;
} */

/* blue-green */
:root{
    --primary-color:hsl(209, 96%, 42%);
    --primary-color-light:hsl(209, 96%, 82%);
    --primary-bg-color-light:hsl(209, 48%, 95%);
     /* padding 大小 */
    --padding-primary:0.5rem 1rem;
    --padding-x-lg:2rem;
    --padding-x-md:1rem;
    --padding-x-sm:0.5rem;

    --card-body-padding:0.5rem 1rem 1rem 1rem;
    --primary-border-radius:5px;
    --card-color:#333;
    --card-background-color:white;
}

html{
    font-size:16px;
}
body {
    margin:0;
    background:var(--primary-bg-color-light);
}

*{

    box-sizing: border-box;
}
*::selection {
    background:var(--primary-color-light);
}


#app{
}
.main{
    display:flex;
}
.aside-main{
    
    width:280px;
}
.nav-main::before{
    z-index:-1;
    content:'';
    position: absolute;
    inset:0 0 0 0;
    background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAEdJREFUKFONkEEKADAIw+r/H604KGhR5i67pGnRcHx25JCgA+0fszRWmGBrU2NCGn5B3Zjm1Vg36V4GbTLWarb67zyrcT1rABZjDwpeLMnYAAAAAElFTkSuQmCC
    ) repeat;
}
.container{
    width:1366px;
    margin:0 auto;
}
.nav-main{
    position:relative;
    background:repeating-linear-gradient(30deg,#ffffff22,#ffffffff 20px),repeating-linear-gradient(120deg,#ffffffdd,#ffffffff 20px);
    display:flex;align-items:center;
    padding:0.5rem calc(var(--padding-x-lg) + 0.5rem);
    width:100%;
    height:5rem;
}
.nav-brand {
    padding:var(--padding-primary);
}
.nav-brand .title{
    font-size:2rem;
}
.nav-aside{
    width: 20rem ;
    background:#456;
}
.card {
    flex:0 0 auto;
    background:var(--card-background-color);
    color:var(--card-color);
    /* border:1px solid #dae0f0; */
    border-radius: var(--primary-border-radius);
    transition:box-shadow 0.3s;
}
.card > .card-header
 {
    padding:var(--padding-primary);
}
.card > .card-body{
    padding:var(--card-body-padding);
}
.card-header a{
    color:var(--card-color);
}
.card-header{
    color:var(--card-color);
    font-size:1.15rem;
    font-weight:bold;
}
.x-container{

    width:100%;
    display:flex;
    
}
.x-container>*{
    margin:0rem 1rem 0.5rem 1rem;
}
.y-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.y-container > * {
}


.card:hover{
    box-shadow:0 0 5px 1px #00000010,0 0 10px 4px #00000005;
}
.card-desc{
    overflow:hidden;
    height:3em;
    text-overflow: ellipsis;
    margin-bottom:1rem;

}
a{
    text-decoration: none;
}
.btn-link{
    display:inline-block;
    background:var(--primary-bg-color-light);
    color:#555;
    border-radius: calc(var(--primary-border-radius) - 2px);
    font-size:1rem;
    line-height:1;
    padding:var(--padding-primary);
    /* /* transition-property: width background height; */
    transition-duration: 0.3s; 
}
.btn-link:hover{
    color: rgb(255, 255, 255);
    padding:0.5rem 1rem;
    
    background:var(--primary-color);
}
.btn-link::after{
    display:inline-block;
    content:'→';
    width:0;
    margin-left:0rem;
    opacity:0;
    transition:all 0.3s;

}
.btn-link:hover::after{
    font-weight: bold;
    content:'→';
    width:auto;
    opacity:100;
    margin-left:0.5rem;
    color:white;
    animation:slide-in-from-left 0.3s ease-out;
}
.collapsible-aside{
    animation: collapse 1s;
}
@keyframes fade-in {
    from {
        opacity:0;
    }
    to{
        opacity:100;
    }
}




@keyframes collapse{
    from {
        width:25rem;
    }
    100% {
        width:0rem;
    }
}
