<html >
  <head>
    <link rel="stylesheet" href="./css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <div  id="app">
    <!-- <aside class="nav-aside"></aside> -->
    <header class="nav-main">
      <div class="nav-brand container ">
        <strong class="title">前端拾遗</strong>
        <span class="sub-title">关于 Web 的理解、联系、收集</span>
      </div>
    </header>

    <div class="main container " style="padding-top: 2rem">
      <!-- <div class="y-container">
        <article class="card" style="margin: 0.5rem 1rem; ">
          <section class="card-body">
            
          </section>
        </article>
      </div> -->
      <aside class="aside-main" >
        <ul >
          <tree-item
            class="item"
            :item="treeData"
            @make-folder="makeFolder"
            @add-item="addItem"
            ></tree-item>
        </ul>
      </aside>
      
      <main class="x-container">
        <!-- 小的信息卡片，展示收藏的外部引用信息 -->
        <div class="card" v-for="item in firstCollections" style="width:18rem">
          <div class="card-header">
            <a :href="item.url" target="_blank">{{item.title}}</a>
          </div>
          <div class="card-body">
            <div class="card-desc">{{item.desc}}</div>
            <a class="btn-link" :href="item.url" target="_blank">前往</a>
          </div>
        </div>
      </main>
    </div>
  </div>
    <!-- template -->
    <script type="text/x-template" id="tree-item-template" src='./components/tree-navigator.html'>
      <li>
        <div
            :class="{bold: isFolder}"
            @click="toggle"
            @dblclick="makeFolder">
          {{ item.name }}
          <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
        </div>
        <ul v-show="isOpen" v-if="isFolder">
          <tree-item
            class="item"
            v-for="(child, index) in item.children"
            :key="index"
            :item="child"
            @make-folder="$emit('make-folder', $event)"
            @add-item="$emit('add-item', $event)"
            ></tree-item>
          <li class="add" @click="$emit('add-item', item)">+</li>
        </ul>
      </li>  
    </script>
    <script type="text/javascript">
      Vue.component("tree-item", {
        template: "#tree-item-template",
        props: {
          item: Object
        },
        data: function() {
          return {
            isOpen: false
          };
        },
        computed: {
          isFolder: function() {
            return this.item.children && this.item.children.length;
          }
        },
        methods: {
          toggle: function() {
            if (this.isFolder) {
              this.isOpen = !this.isOpen;
            }
          },
          makeFolder: function() {
            if (!this.isFolder) {
              this.$emit("make-folder", this.item);
              this.isOpen = true;
            }
          }
        }
      });
    </script>
    <style>
      ul{
        padding-inline-start:1rem;
      }
      li{
        list-style: none;
        list-style: ;
      }
    </style>
    <script type="text/javascript" src="./js/index.js"></script>
  </body>
</html>
